<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Urls</title>
  </head>
  <body>
    <a href="urls/new">Make a new shortened url</a>

    <section id="urls">
      {{#each urls as |url|}}
        <a href={{url.shortenedUrl}}>{{url.shortenedUrl}}</a>
        <br>
      {{/each}}
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="./javascripts/get.js"></script>
  </body>
</html>
