<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <h1>Create a new Shortened Url</h1>
    <form action="/urls" method="post">
      <label for"shortened">Shortened Url</label>
      <input id="shortened" type="text" name="shortened" value="">

      <label for"original">Original Url</label>
      <input id="original" type="text" name="original" value="">

      <input type = "submit" name="" value="submit">
    </form>
  </body>
</html>
